<div class="announcement container py-3 border border-secondary border-opacity-25 <%= set_background_color(announcement) %> d-flex flex-row justify-content-between">
  <div>
    <div class="d-flex gap-3">
      <p class="fw-bold m-0"><%= User.find(announcement.user_id).full_name %></p>
      <p class="text-secondary m-0"><%= announcement.custom_time %></p>
    </div>
    <p class="m-0"><%= announcement.content %></p>
  </div>

  <% seen_announcement = current_user.seen_announcements.find_by(announcement_id: announcement.id) %>
  <% seen_announcement ||= SeenAnnouncement.new %>
  <%= form_with model: seen_announcement do |f| %>
    <div>
      <%= f.hidden_field :announcement_id, value: announcement.id %>
    </div>

    <div>
      <%= f.label :seen? %>
      <%= f.check_box :seen, onchange: "this.form.submit()", class: "form-check-input" %>
    </div>
  <% end %>
</div>




